/* body::after {
  content: 'sm';
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 2em;
  color: var(--bs-red);
  font-weight: 600;
  pointer-events: none;
  z-index: 9999;
}

@media (width >= 36rem) { 
    body::after {
        content: 'md';
    }
}

@media (width >= 48rem) { 
    body::after {
        content:'lg';
    }
}

@media (width >= 62rem) { 
    body::after {
        content:'xl';
    }
}

@media (width >= 75rem) { 
    body::after {
        content:'2xl';
    }
}

@media (width >= 87.5rem) { 
    body::after {
        content:'3xl';
    }
} */